@import "app/template/set_r025/assets/css/_variable.sass";

.hide-hover {
  :deep(.q-focus-helper) {
    opacity: 0 !important;
    background-color: transparent !important;
  }
}

:deep(.bg-primary) {
  background: $primany-01 !important;
}

:deep(.text-primary) {
  color: $primany-01 !important;
}

:deep(.text-primary-02) {
  color: $primany-02 !important;
}

:deep(.text-term) {
  color: $primany-01 !important;
}

:deep(.text-neutral-01) {
  color: $neutral-01 !important;
}

:deep(.bg-submit) {
  background: linear-gradient(90deg, $background-bright-blue-color 0%, $background-vivid-blue-color 100%) !important;
}

.btn-play {
  @apply capitalize z-20;
  padding: 0.5rem 1.875rem;
  background: $primany-01;
  color: $neutral-01;
  border-radius: 2.375rem;
  font-family: OpenSans;
  font-style: normal;
  font-weight: 510;
  font-size: 0.875rem;
  line-height: 1.0625rem;

  :deep(.q-btn__content) {
    @apply whitespace-nowrap;
  }
}

@mixin btn-common {
  position: relative;
  font-family: "PingFang SC";
  font-style: normal;
  min-width: 5.375rem;
  color: $text-charcoal-gray-color !important;
  background-color: $background-pale-gray-color !important;
  height: 1.875rem;
  min-height: 1.875rem;
  text-transform: capitalize;
}

@keyframes reFreshAni {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.btn-refresh {
  &.active {
    animation: reFreshAni 1s linear infinite;
  }
}