@import "src/common/css/_variable.sass";
@import "app/template/set_r025/assets/css/_variable.sass";
@import "app/template/set_r025/assets/css/button.scss";

.collaboration {
  .collaboration-header {
    @apply w-full bg-black/70;
    @apply aspect-[1570/354] bg-cover bg-center;
  }

  .collaboration-content {
    @apply w-[62.5rem] max-w-[82.5%] mx-auto;
    @apply p-[2.5rem] text-white/70;
    border-radius: 0.75rem;

    @include iphone-width() {
      @apply w-full mt-0 max-w-[100%];
      @apply p-[28px];
      border-radius: 0;
    }

    .title {
      @apply flex leading-none items-center mt-8;
      @apply font-bold text-[1.5rem];
      color: #fff;

      span:first-child {
        color: $primany-01;
      }
    }

    .currency-select {
      @apply flex items-center gap-[0.75rem] mt-[4.25rem];

      @include iphone-width() {
        @apply flex-row items-start mt-[3rem];
      }

      .currency-select-title {
        @apply text-[1.25rem] font-semibold;
        color: $neutral-01;
      }

      :deep(.q-btn-dropdown) {
        @apply shadow-none;
        color: $neutral-01;
        border-radius: 2rem;
        border: 1px solid $functional-line;
        background: $functional-input;

        &::before {
          display: none;
        }
      }
    }

    .summary-wrapper {
      @apply flex gap-[2.5rem] mt-[1.25rem];

      @include iphone-width() {
        @apply flex-col items-start gap-[.75rem];
      }

      .summary {
        @apply flex-1 flex flex-col gap-[.625rem];

        @include iphone-width() {
          @apply w-full;
        }

        .summary-content {
          @apply py-[.75rem] text-center;
          border-radius: 4rem;
          background: $primany-01;


          @include iphone-width() {
            @apply px-6;
            background: $primany-01;

          }

          .summary-title {
            @apply font-bold;
            color: $neutral-01;
          }

          .summary-value {
            @apply font-['OpenSans'] font-extrabold text-[2rem];
            color: $neutral-01;
          }
        }
      }

      .referral-code {
        @apply flex-1;
        @apply flex flex-col items-center justify-center;
        background: $secondary-card-secondary;
        border-radius: 0.5rem;

        @include iphone-width() {
          @apply w-full py-[20px];
        }

        .referral-code-title {
          @apply font-semibold text-[1.25rem];
          color: $neutral-01;
        }

        .referral-code-value {
          @apply mt-[1.25rem];
          color: $neutral-01;
          background-color: $functional-input;
          border: 1px solid $functional-line;
          border-radius: 0.3rem;

          @include iphone-width() {
            @apply mt-[4px];
          }

          :deep(.q-field__inner) {
            @apply px-4;
            border-radius: 0.3rem;
            color: $neutral-01;
          }

          :deep(.q-field__native) {
            color: $neutral-01;
          }

          :deep(.q-field__append) {
            color: $primany-01;
          }
        }
      }
    }

    .proxy-tabs {
      margin-top: 3.75rem;
      margin-bottom: 1.25rem;

      :deep(.q-tabs__content) {
        gap: 10px;

        .q-tab {
          font-weight: 700;
          min-height: 0;
          padding: 0.5rem 2rem;
          border-radius: 2rem;
          background: $secondary-card-secondary;
          color: $functional-btn-text-secondary;


          .q-tab__content {
            padding: 0;
          }
        }

        .q-tab--active {
          background: $primany-01;
          color: $functional-btn-text-primany;

          .q-tab__indicator {
            @apply h-0;
          }

          .q-tab__label {
            @apply font-bold leading-none;
          }
        }
      }
    }

    .proxy-tab-panels {
      border-radius: 0.625rem;
      background: $secondary-card;
    }

    .events-detail-header {
      @apply flex justify-end mb-4 mt-12;

      .back-btn {
        @apply px-6;
        border: 1px solid;
        color: $neutral-01;
        border-color: #666 !important;
        border-radius: 2rem;

        :deep(.q-icon) {
          color: #666 !important;
        }
      }
    }
  }
}

.table-content {
  &.events-detail {
    @apply p-4 bg-white;
    border-radius: 0.625rem;

    @include iphone-width() {
      @apply bg-white;
    }
  }

  .search-content-title {
    @apply font-bold text-[1.5rem] mb-[1.5rem];
    color: $neutral-01;
  }

  .member-number {
    @apply flex items-center gap-[1.5rem];

    @include iphone-width() {
      @apply flex-col items-start gap-[.5rem];
    }

    .label {
      @apply text-[1rem];
      color: $neutral-01;
    }

    :deep(.q-field__inner) {
      @apply px-4;
      background: $functional-input;
      border-radius: 0.3rem;
      border: 1px solid $functional-line;
      color: rgba(255, 255, 255, 0.7);

      .q-field__native {
        color: $neutral-01;
      }
    }

    :deep(.q-field__control) {
      border-radius: 0.5rem;
    }
  }

  .actions {
    @apply flex items-center gap-[1.25rem] mt-[1.5rem];

    @include iphone-width() {
      @apply flex-col items-start mt-[1rem] w-full;
    }

    .currency-action {
      @include iphone-width() {
        @apply w-full;
      }

      .currency-select {
        @apply flex items-center gap-[1.25rem] mt-0;

        @include iphone-width() {
          @apply flex-col items-start gap-[.5rem];
        }

        .currency-select-title {
          @apply text-[1rem] font-normal;
        }

        :deep(.q-btn-dropdown) {
          color: $neutral-01;
          border-radius: 2rem;
          border: 1px solid $functional-line;
          background: $functional-input;

          &::before {
            display: none;
          }
        }
      }
    }

    .gametype-action {
      @include iphone-width() {
        @apply w-full;
      }

      .gametype-select {
        @apply flex items-center gap-[1.25rem];

        @include iphone-width() {
          @apply flex-col items-start gap-[.5rem];
        }

        .gametype-select-title {
          @apply text-[1rem] font-normal;
          color: $neutral-01;
        }

        :deep(.q-btn-dropdown) {
          @apply shadow-none;
          color: $neutral-01;
          border-radius: 2rem;
          border: 1px solid $functional-line;
          background: $functional-input;

          &::before {
            display: none;
          }
        }
      }
    }

    .date-action {
      @include iphone-width() {
        @apply w-full;
      }

      .date-select {
        @apply flex items-center gap-[1.25rem];

        @include iphone-width() {
          @apply flex-col items-start gap-[.5rem];
        }

        .date-select-title {
          @apply text-[1rem] font-normal;
          color: $neutral-01;
        }

        .date-select-input {
          background: $functional-input;
          border: 1px solid $functional-line;
          color: $neutral-01;
          border-radius: 2rem;

          :deep(.q-field__native) {
            color: $neutral-01;
          }

          :deep(.q-field__append) {
            color: $neutral-01;
          }

          :deep(.q-field__control) {
            border-radius: 2rem;
          }
        }

        :deep(.q-btn-dropdown) {
          @apply shadow-none;
          border-radius: 2rem;
          border: 1px solid $functional-line;
          background: $functional-input;

          &::before {
            display: none;
          }
        }
      }
    }

    .search-btn {
      @apply leading-none;
      color: $neutral-01;
      background: $primany-01;
      padding: 0.7rem 2rem;
      border-radius: 2rem;
      min-height: 0;

      @include iphone-width() {
        @apply w-full;
      }
    }
  }

  .tables {
    @apply mt-[40px];

    .no-data {
      @apply text-center text-sm font-bold py-12;
      color: $neutral-01;
      border-radius: 1rem;
    }

    .q-table__card {
      @apply bg-transparent shadow-none;
      color: rgba(0, 0, 0, 0.7);

      :deep(th) {
        @apply text-[18px] font-bold text-center;
        @apply border-b;
        border-color: $functional-line;
        color: $neutral-01;

      }

      :deep(tr) {
        @apply border-b;
      }

      :deep(td) {
        @apply text-center;
        @apply border-b;
        border-color: $functional-line;
        color: $neutral-01;

      }
    }

    .r-pagination {
      @apply justify-end mt-[2rem];

      :deep(.q-pagination__middle) {
        gap: 2px;

        .q-btn {
          background-color: transparent;
          color: $neutral-01;
        }
      }

      :deep(.q-btn) {
        border-radius: 0.35rem;
      }

      :deep(.q-icon) {
        color: $neutral-01;
      }

      :deep(.q-btn--standard) {
        background-color: transparent !important;
        color: $primany-01 !important;

        &::before {
          display: none;
        }
      }
    }

    :deep(.q-table__grid-content) {
      @apply flex flex-col gap-4;

      .q-card {
        @apply flex flex-col gap-[0.25rem];
        @apply p-0;
        color: $neutral-01;
        border-radius: 0.5rem;
        border: 1px solid $functional-line;
        background: transparent;
        box-shadow: none;

        .row-item {
          @apply flex justify-between text-sm font-bold;
          @apply border-b border-[#FFFFFF1A] pb-2;

          &:last-child {
            @apply border-b-0 pb-0;
          }
        }

        .detail-btn {
          @apply w-full mt-2;
          color: $neutral-01;
          background: #666;
          border-radius: 2rem;
        }

        .card_detail {
          background: $secondary-card-secondary;
        }
      }
    }
  }
}

:deep(.q-menu) {
  .q-list {
    background: #0C1A43;
    color: #fff;
  }
}

.achieved {
  background: #DDF6E8;
  color: #009D46;
  padding: 12px;
  border-radius: 0.5rem;
}

.not_achieved {
  background: #FFE2E3;
  color: #FF474C;
  padding: 12px;
  border-radius: 0.5rem;
}

.rule-dialog {
  background: $secondary-card;
  border-radius: 1rem;
  color: $neutral-01;

  &::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: transparent;
    /* or add it to the track */
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primany-01;
    border-radius: 1rem;
  }
}