@import "src/common/css/_variable.sass";
@import "app/template/set49/assets/css/_variable.scss";

.referral-rebate {

  .referral-rebate-header {
    @apply w-full bg-black/70;
    @apply aspect-[1570/354] bg-cover bg-center;
  }

  .referral-rebate-content {
    @apply w-full max-w-[100%] mx-auto;
    @apply p-4 pb-10 bg-transparent;
    border-radius: 0;

    .title {
      @apply flex leading-none items-center gap-[.5rem];
      @apply font-bold text-[1.5rem];
      color: #00546E;

      span {
        @apply block w-[.5rem] h-[1.5rem];
        background-color: $primary-color;
      }
    }

    .currency-select {
      @apply flex flex-row items-center mt-[2.25rem] gap-[0.75rem];

      .currency-select-title {
        @apply w-28 text-[1.25rem] font-semibold;
        color: #00546E;
      }

      .input-field {
        @apply flex-1;
      }


      :deep(.q-btn-dropdown) {
        @apply border-[#C2C2C2] border-solid border text-black;
        border-radius: 2rem;
        background: #fff;

        &::before {
          display: none;
        }
      }
    }

    .summary-wrapper {
      @apply flex-col items-start gap-[.75rem] mt-[1.25rem];

      .summary {
        @apply w-full flex flex-col gap-[.625rem] mb-[1.25rem];

        .summary-content {
          @apply bg-[#F2F9FF] py-[.75rem] text-center;
          border-radius: 4rem;

          .summary-title {
            @apply font-bold;
            color: rgba(0, 84, 110, 0.6);
          }

          .summary-value {
            @apply font-['OpenSans'] font-extrabold text-[2rem] text-[#00546E];
          }
        }
      }

      .referral-code {
        @apply w-full py-[20px];
        @apply flex flex-col items-center justify-center;
        @apply bg-[#F2F9FF] border-[#218EF7] border;
        border-radius: 2rem;

        .referral-code-title {
          @apply text-[#00546E] font-semibold text-[1.25rem];
        }

        .referral-code-value {
          @apply mt-[4px];

          :deep(.q-field__control:before) {
            border-style: solid;
            border-color: #C2C2C2;
          }
        }
      }
    }

    .proxy-tabs {
      margin-top: 2rem;
      margin-bottom: 1.25rem;

      ::v-deep(.q-tabs__content) {
        gap: 10px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        .q-tab {
          @apply bg-[#F2F9FF] text-[#00546E];
          min-height: 0;
          padding: 0.7rem 1.3rem;
          border-radius: 2rem;
          flex: 0 1 auto!important;

          .q-tab__content {
            padding: 0;
          }
        }

        .q-tab--active {
          @apply bg-[#F2F9FF] text-black;
          border: 1px solid #218EF7;
          border-radius: 2rem;

          .q-tab__indicator {
            @apply h-0;
          }

          .q-tab__label {
            @apply font-bold leading-none;
          }
        }
      }
    }

    .proxy-tab-panels {
      @apply bg-[#F2F9FF];
      border-radius: 0.625rem;
    }

    .events-detail-header {
      @apply flex justify-end mb-4 mt-12;

      .back-btn {
        border: 1px solid;
        border-color: #218EF7 !important;
        border-radius: 2rem;
        color: #000;

        ::v-deep(.q-icon) {
          color: #218EF7 !important;
        }
      }
    }
  }
}

.table-content {
  &.events-detail {
    @apply p-4 bg-[#F2F9FF];
    border-radius: 0.625rem;
  }

  .search-content-title {
    @apply font-bold text-[1.5rem] mb-[1.5rem] text-[#00546E];
  }

  .member-number {
    @apply flex flex-row items-center gap-[.5rem] text-[#00546E];

    .label {
      @apply w-28 text-[1rem] mb-1;
    }

    .input-field {
      @apply flex-1;
    }

    ::v-deep(.q-field__control) {
      border-radius: 0.5rem;
    }
  }

  .actions {
    @apply flex-col items-start mt-[1rem] w-full gap-[1.25rem];

    .currency-action {
      @apply w-full;

      .currency-select {
        @apply flex-row items-center gap-[.5rem] mt-0 flex;

        .currency-select-title {
          @apply w-28 text-[1rem] font-normal;
        }

        .input-field {
          @apply flex-1;
        }

        :deep(.q-btn-dropdown) {
          @apply text-black;
          border-radius: 2rem;
          background: #fff;
        }
      }
    }

    .gametype-action {
      @apply w-full my-4;

      .gametype-select {
        @apply flex-row items-center gap-[.5rem] flex;

        .gametype-select-title {
          @apply w-28 text-[1rem] font-normal text-[#00546E];
        }

        .input-field {
          @apply flex-1;
        }

        :deep(.q-btn-dropdown) {
          @apply text-black mt-1;
          border-radius: 2rem;
          background: #fff;
          border: 1px solid #C2C2C2;

          &::before {
            display: none;
          }
        }
      }
    }

    .date-action {
      @apply w-full my-4;

      .date-select {
        @apply flex-row items-center gap-[.5rem] flex;

        .date-select-title {
          @apply w-28 text-[1rem] font-normal text-[#00546E];
        }

        .input-field {
          @apply flex-1;
        }

        :deep(.q-field) {
          @apply text-black mt-1;
          background: #fff;

          &::before {
            display: none;
          }
        }
      }
    }

    .search-btn {
      @apply text-[#24262B] leading-none w-full text-white;
      padding: 0.7rem 0.75rem;
      border-radius: 2rem;
      min-height: 0;
      background: linear-gradient(180deg, #36E3FF 0%, #2393FF 100%);
    }
  }

  .tables {
    @apply mt-[40px];

    .no-data {
      @apply text-center text-sm font-bold py-12 text-[#00546E];
    }

    .q-table__card {
      @apply bg-transparent shadow-none text-white/70;

      ::v-deep(th) {
        @apply text-[18px] font-bold text-center;
        @apply border-b-2 border-white/15;
      }

      ::v-deep(tr) {
        border-color: #fff;
        @apply border-b border-white/15;
      }

      ::v-deep(td) {
        @apply text-center;
        @apply border-b-2 border-white/15;
      }
    }

    .r-pagination {
      @apply justify-end mt-[2rem];

      ::v-deep(.q-pagination__middle) {
        gap: 2px;

        .q-btn {
          background-color: transparent !important;
          color: #000;

          &::before {
            display: none;
          }
        }
      }

      ::v-deep(.q-btn) {
        border-radius: 0.35rem;
      }

      ::v-deep(.q-icon) {
        color: #000;
      }

      ::v-deep(.q-btn--standard) {
        color: #218EF7 !important;
      }
    }

    ::v-deep(.q-table__grid-content) {
      @apply flex flex-col gap-4;

      .q-card {
        @apply flex flex-col gap-[0.25rem];
        @apply text-white p-4;
        border-radius: .5rem;
        border: 1px solid #C2C2C2;
        background-color: #6D7693;
        box-shadow: none;

        .row-item {
          @apply flex justify-between text-sm font-bold;
          @apply border-b border-white/20 pb-2;

          &:last-child {
            @apply border-b-0 pb-0;
          }
        }

        .detail-btn {
          @apply text-white;
          @apply w-full mt-2;
          border-radius: 2rem;
          background: linear-gradient(180deg, #36E3FF 0%, #2393FF 100%);
        }
      }
    }
  }
}
