@import "src/common/css/_variable.sass";

.collaboration {
  .collaboration-content {
    @apply w-[62.5rem] max-w-[82.5%] mx-auto;
    @apply p-[2.5rem] text-white/70;
    border-radius: 0.75rem;

    @include iphone-width() {
      @apply w-full mt-0 max-w-[100%];
      @apply p-[28px];
      background: radial-gradient(48.65% 89.81% at 50% 50%, #D72F2F 0%, #410000 100%);
      border-radius: 0;
    }

    .title {
      @apply flex leading-none items-center mt-8;
      @apply font-bold text-[1.5rem];
      color: #fff;
    }

    .currency-select {
      @apply flex items-center gap-[0.75rem] mt-[4.25rem];

      @include iphone-width() {
        @apply flex-row items-start mt-[3rem];
      }

      .currency-select-title {
        @apply text-[1.25rem] font-semibold text-white;
      }

      :deep(.q-btn-dropdown) {
        @apply text-black shadow-none;
        border-radius: 2rem;
        background: #fff;

        &::before {
          display: none;
        }
      }
    }

    .summary-wrapper {
      @apply flex gap-[2.5rem] mt-[1.25rem];

      @include iphone-width() {
        @apply flex-col items-start gap-[.75rem];
      }

      .summary {
        @apply flex-1 flex flex-col gap-[.625rem];

        @include iphone-width() {
          @apply w-full;
        }

        .summary-content {
          @apply py-[.75rem] text-center;
          border-radius: 4rem;
          background-color: #3D0202;

          @include iphone-width() {
            @apply px-6;
            background-color: #3D0202
          }

          .summary-title {
            @apply font-bold;
          }

          .summary-value {
            @apply font-['OpenSans'] font-extrabold text-[2rem] text-white;
          }
        }
      }

      .referral-code {
        @apply flex-1;
        @apply flex flex-col items-center justify-center;
        background-color: #D36464;
        border: 1px solid #D14444;
        border-radius: 0.5rem;

        @include iphone-width() {
          @apply w-full py-[20px];
        }

        .referral-code-title {
          @apply text-black font-semibold text-[1.25rem];
        }

        .referral-code-value {
          @apply mt-[1.25rem] text-white;
          background-color: #FFFFFF;
          border: 1px solid #0000001A;
          border-radius: 0.3rem;

          @include iphone-width() {
            @apply mt-[4px];
          }

          :deep(.q-field__inner) {
            @apply px-4;
            background: #FFFFFF;
            border-radius: 0.3rem;
            color: rgba(28, 30, 34, 0.2);
          }

          :deep(.q-field__native) {
            @apply text-black;
            background: #FFFFFF;
          }

          :deep(.q-field__append) {
            @apply text-black;
          }
        }
      }
    }

    .proxy-tabs {
      margin-top: 3.75rem;
      margin-bottom: 1.25rem;

      :deep(.q-tabs__content) {
        gap: 10px;

        .q-tab {
          font-weight: 700;
          min-height: 0;
          padding: 0.75rem 1.5rem;
          border-radius: 2rem;
          background: #250101;
          color: #fff;


          .q-tab__content {
            padding: 0;
          }
          .q-tab__label {
            @apply font-bold leading-none;
          }
        }

        .q-tab--active {
          background: linear-gradient(180deg, #F5E386 0%, #9C7C24 100%);

          color: #000;

          .q-tab__indicator {
            @apply h-0;
          }
        }
      }
    }

    .proxy-tab-panels {
      border-radius: 0.625rem;
      background: #3D0202;

      @include iphone-width() {
        background: #3D0202;
      }
    }

    .events-detail-header {
      @apply flex justify-end mb-4 mt-12;

      .back-btn {
        @apply px-6;
        border: 1px solid;
        color: #000;
        border-color: #666 !important;
        border-radius: 2rem;

        :deep(.q-icon) {
          color: #666 !important;
        }
      }
    }
  }
}

.table-content {
  &.events-detail {
    @apply p-4 bg-white;
    border-radius: 0.625rem;

    @include iphone-width() {
      @apply bg-white;
    }
  }

  .search-content-title {
    @apply font-bold text-[1.5rem] mb-[1.5rem] text-white;
  }

  .member-number {
    @apply flex items-center gap-[1.5rem];

    @include iphone-width() {
      @apply items-center gap-[.5rem];
    }

    .label {
      @apply text-[1rem] text-white;

      @include iphone-width() {
        @apply w-28;
      }
    }

    :deep(.q-field__inner) {
      @apply px-4;
      background: #F0F1F4;
      border-radius: 0.3rem;
      color: black;

      .q-field__native {
        @apply text-black;
      }
    }

    :deep(.q-field__control) {
      border-radius: 0.5rem;
    }
  }

  .actions {
    @apply flex items-center gap-[1.25rem] mt-[1.5rem];

    @include iphone-width() {
      @apply flex-col items-start mt-[1rem] w-full;
    }

    .currency-action {
      @include iphone-width() {
        @apply w-full;
      }

      .currency-select {
        @apply flex items-center gap-[1.25rem] mt-0;

        @include iphone-width() {
          @apply items-center gap-[.5rem];
        }

        .currency-select-title {
          @apply text-[1rem] font-normal;

          @include iphone-width() {
            @apply w-28;
          }
        }

        :deep(.q-btn-dropdown) {
          @apply text-black;
          border-radius: 2rem;
          background: #F0F1F4;

          &::before {
            display: none;
          }
        }
      }
    }

    .gametype-action {
      @include iphone-width() {
        @apply w-full;
      }

      .gametype-select {
        @apply flex items-center gap-[1.25rem];

        @include iphone-width() {
          @apply items-center gap-[.5rem];
        }

        .gametype-select-title {
          @apply text-[1rem] font-normal text-white;
          @include iphone-width() {
            @apply w-28;
          }
        }

        :deep(.q-btn-dropdown) {
          @apply text-black shadow-none;
          border-radius: 2rem;
          background: #F0F1F4;

          &::before {
            display: none;
          }
        }
      }
    }

    .date-action {
      @include iphone-width() {
        @apply w-full;
      }

      .date-select {
        @apply flex items-center gap-[1.25rem] md:w-[22rem];

        @include iphone-width() {
          @apply items-center gap-[.5rem];
        }

        .date-select-title {
          @apply text-[1rem] font-normal text-white;
          white-space: nowrap;
          @include iphone-width() {
            @apply w-28;
          }
        }

        .date-select-input {
          @apply bg-[#F0F1F4] text-black;
          border-radius: 2rem;
          :deep(.q-field__native) {
            @apply text-black;
          }
          :deep(.q-field__append) {
            @apply text-black;
          }
          :deep(.q-field__control) {
            border-radius: 2rem;
          }
        }

        :deep(.q-btn-dropdown) {
          @apply text-white shadow-none;
          border-radius: 2rem;
          background: #3D0202;

          &::before {
            display: none;
          }
        }
      }
    }

    .search-btn {
      @apply text-black leading-none;
      background: linear-gradient(180deg, #F5E386 0%, #9C7C24 100%);
      padding: 0.7rem 2rem;
      border-radius: 2rem;
      min-height: 0;

      @include iphone-width() {
        @apply w-full;
      }
    }
  }

  .tables {
    @apply mt-[40px];

    .no-data {
      @apply text-center text-sm font-bold py-12 text-white;
      border-radius: 1rem;
      background: #3D0202;
    }

    .q-table__card {
      @apply bg-transparent shadow-none;
      color: rgba(0, 0, 0, 0.7);

      :deep(th) {
        @apply text-[18px] font-bold text-center;
        @apply border-b;
        border-color: #D14444;
        color: rgba(255, 255, 255, 0.7);

      }

      :deep(tr) {
        @apply border-b;

        &:hover {
          // background: #E6EFFD;
          // color: #666;
        }
      }

      :deep(td) {
        @apply text-center;
        @apply border-b;
        border-color: #D14444;
        color: rgba(255, 255, 255, 0.5);

      }
    }

    .r-pagination {
      @apply justify-end mt-[2rem];

      :deep(.q-pagination__middle) {
        gap: 2px;

        .q-btn {
          background-color: transparent;
          color: rgba(255, 255, 255);
        }
      }

      :deep(.q-btn) {
        border-radius: 0.35rem;
      }

      :deep(.q-icon) {
        color: rgba(255, 255, 255);
      }

      :deep(.q-btn--standard) {
        background-color: transparent !important;
        color: #D14444 !important;

        &::before {
          display: none;
        }
      }
    }

    :deep(.q-table__grid-content) {
      @apply flex flex-col gap-4;

      .q-card {
        @apply flex flex-col gap-[0.25rem];
        @apply text-white p-0;
        border-radius: 0.5rem;
        border: 1px solid #D14444;
        background: transparent;

        .row-item {
          @apply flex justify-between text-sm font-bold;
          @apply border-b border-[#D14444] pb-2;

          &:last-child {
            @apply border-b-0 pb-0;
          }
        }

        .detail-btn {
          @apply text-white;
          @apply w-full mt-2;
          background: #666;
          border-radius: 2rem;
        }

        .card_detail {
          background: rgba(0, 0, 0, 0.4);
        }
      }
    }
  }
}

:deep(.q-menu) {
  .q-list {
    background: #0C1A43;
    color: #fff;
  }
}

.achieved {
  background: #DDF6E8;
  color: #009D46;
  padding: 12px;
  border-radius: 0.5rem;
}

.not_achieved {
  background: #FFE2E3;
  color: #FF474C;
  padding: 12px;
  border-radius: 0.5rem;
}

.rule-dialog {
  background: #350606;
  border: 1px solid #D14444;
  border-radius: 1rem;
  color: #FFFFFFB2;
}

:deep(.q-date__header) {
  background-color: #D72F2F;
}
