@import "src/common/css/_variable.sass";
@import "app/template/set33_RED/assets/css/_variable.sass";

.page-container {
  padding-top: 60px !important
}

.referral-rebate {
  .referral-rebate-content {
    @apply w-[62.5rem] mt-[6.125rem] max-w-[82.5%] mx-auto;
    @apply p-[2.5rem] text-white;
    // background-color: $primary-modal-bg;
    border-radius: 0.75rem;

    @include iphone-width() {
      @apply w-full mt-[20px] max-w-[100%] mx-auto p-[28px];
      background: radial-gradient(48.65% 89.81% at 50% 50%, #D72F2F 0%, #410000 100%);
      border-radius: 0;
    }

    .title {
      @apply flex leading-none items-center gap-[.5rem];
      @apply font-bold text-[1.5rem];
      color: #fff;

      span {
        @apply block w-[.5rem] h-[1.5rem];
        background-color: #fff;
      }
    }

    .currency-select {
      @apply flex items-center gap-[0.75rem] mt-[4.25rem];

      @include iphone-width() {
        @apply flex items-center mt-6;
      }

      .currency-select-title {
        @apply text-[1.25rem] font-semibold text-white;
      }

      :deep(.q-btn-dropdown) {
        @apply text-black;
        border-radius: 2rem;
        background: #fff;
      }
    }

    .summary-wrapper {
      @apply flex gap-[2.5rem] mt-[1.25rem];

      @include iphone-width() {
        @apply flex-col items-start gap-[.75rem];
      }

      .summary {
        @apply flex-1 flex flex-col gap-[.625rem];

        @include iphone-width() {
          @apply w-full;
        }

        .summary-content {
          @apply bg-[#3D0202] py-[.75rem] text-center;
          border-radius: 6rem;

          @include iphone-width() {
            @apply bg-[#3D0202];
          }

          .summary-title {
            @apply font-bold;
          }

          .summary-value {
            @apply font-['OpenSans'] font-extrabold text-[2rem] text-white;
          }
        }
      }

      .referral-code {
        @apply flex-1;
        @apply flex flex-col items-center justify-center;
        @apply bg-[#D36464] border-[#D14444] border;
        border-radius: 0.5rem;

        @include iphone-width() {
          @apply w-full py-[20px];
        }

        .referral-code-title {
          @apply text-white font-semibold text-[1.25rem];
        }

        .referral-code-value {
          @apply mt-[1.25rem];

          @include iphone-width() {
            @apply mt-[4px];
          }
        }
      }
    }

    .proxy-tabs {
      margin-top: 3.75rem;
      margin-bottom: 1.25rem;

      ::v-deep(.q-tabs__content) {
        gap: 10px;

        .q-tab {
          min-height: 0;
          padding: 0.5rem 0.75rem;
          border-radius: 2rem;
          background: #250101;

          .q-tab__content {
            padding: 0;
          }
        }

        .q-tab--active {
          @apply text-black;
          background: linear-gradient(180deg, #F5E386 0%, #9C7C24 100%);
          border-radius: 2rem;

          .q-tab__indicator {
            @apply h-0;
          }

          .q-tab__label {
            @apply font-bold leading-none;
          }
        }
      }
    }

    .proxy-tab-panels {
      @apply bg-[#3D0202];
      border-radius: 0.625rem;

      @include iphone-width() {
        @apply bg-[#3D0202];
      }
    }

    .events-detail-header {
      @apply flex justify-end mb-4 mt-12;

      .back-btn {
        border: 1px solid;
        border-color: #D14444 !important;
        border-radius: 2rem;

        ::v-deep(.q-icon) {
          color: #D14444 !important;
        }
        &::before {
          display: none;
        }
      }
    }
  }
}

.table-content {
  &.events-detail {
    @apply p-4 bg-[#3D0202];
    border-radius: 0.625rem;

    @include iphone-width() {
      @apply bg-[#3D0202];
    }
  }

  .search-content-title {
    @apply font-bold text-[1.5rem] mb-[1.5rem];
  }

  .member-number {
    @apply flex items-center gap-[1.5rem];

    @include iphone-width() {
      @apply flex-col items-start gap-[.5rem];
    }

    .label {
      @apply text-[1rem];
    }

    ::v-deep(.q-field__control) {
      border-radius: 0.5rem;
    }
  }

  .actions {
    @apply flex items-center gap-[1.25rem] mt-[1.5rem];

    @include iphone-width() {
      @apply flex-col items-start mt-[1rem] w-full;
    }

    .currency-action {
      @include iphone-width() {
        @apply w-full;
      }

      .currency-select {
        @apply flex items-center gap-[1.25rem] mt-0;

        @include iphone-width() {
          @apply flex-col items-start gap-[.5rem];
        }

        .currency-select-title {
          @apply text-[1rem] font-normal;
        }

        :deep(.q-btn-dropdown) {
          @apply text-black;
          border-radius: 2rem;
          background: #fff;
        }
      }
    }

    .gametype-action {
      @include iphone-width() {
        @apply w-full;
      }

      .gametype-select {
        @apply flex items-center gap-[1.25rem];

        @include iphone-width() {
          @apply flex-col items-start gap-[.5rem];
        }

        .gametype-select-title {
          @apply text-[1rem] font-normal;
        }

        :deep(.q-btn-dropdown) {
          @apply text-black;
          border-radius: 2rem;
          background: #fff;
        }
      }
    }

    .date-action {
      @include iphone-width() {
        @apply w-full;
      }

      .date-select {
        @apply flex items-center gap-[1.25rem];

        @include iphone-width() {
          @apply flex-col items-start gap-[.5rem];
        }

        .date-select-title {
          @apply text-[1rem] font-normal;
        }

        :deep(.q-btn-dropdown) {
          @apply text-black;
          border-radius: 2rem;
          background: #fff;
        }

        :deep(.q-field__control) {
          border-radius: 2rem;
        }
      }
    }

    .search-btn {
      @apply text-[#24262B] leading-none;
      background: linear-gradient(180deg, #F5E386 0%, #9C7C24 100%);
      padding: 0.7rem 0.75rem;
      border-radius: 2rem;
      min-height: 0;

      @include iphone-width() {
        @apply w-full;
      }
    }
  }

  .tables {
    @apply mt-[40px];

    .no-data {
      @apply text-center text-sm font-bold py-12;
    }

    .q-table__card {
      @apply bg-transparent shadow-none text-white/70;

      ::v-deep(th) {
        @apply text-[18px] font-bold text-center;
        @apply border-b-2 border-white/15;
      }

      ::v-deep(tr) {
        border-color: #fff;
        @apply border-b border-white/15;
      }

      ::v-deep(td) {
        @apply text-center;
        @apply border-b-2 border-white/15;
      }
    }

    .r-pagination {
      @apply justify-end mt-[2rem];

      ::v-deep(.q-pagination__middle) {
        gap: 2px;

        .q-btn {
          background-color: transparent !important;
          color: #fff !important;
        }
      }

      ::v-deep(.q-btn) {
        border-radius: 0.35rem;
      }

      ::v-deep(.q-icon) {
        color: #fff;
      }

      :deep(.q-btn:before) {
        display: none;
      }

      ::v-deep(.q-pagination__middle) {
        .q-btn--standard {
          background: transparent;
          color: #D14444 !important;
          box-shadow: none !important;
        }
      }
    }

    ::v-deep(.q-table__grid-content) {
      @apply flex flex-col gap-4;
      .q-card {
        @apply flex flex-col gap-[0.25rem];
        @apply text-white p-4;
        border-radius: 0.5rem;
        border: 1px solid #D14444;
        background-color: #00000066;

        .row-item {
          @apply flex justify-between text-sm font-bold;
          @apply border-b border-[#D14444] pb-2;

          &:last-child {
            @apply border-b-0 pb-0;
          }
        }

        .detail-btn {
          @apply text-black w-full mt-2;
          border-radius: 2rem;
          background: linear-gradient(180deg, #F5E386 0%, #9C7C24 100%);
        }
      }
    }
  }
}
