@import "app/template/set_r024/assets/css/_variable.sass";

.no-data {
  @apply flex flex-col items-center justify-center text-[2rem];
  color: $neutral-01;

  img {
    @apply opacity-50 max-w-[10rem] max-h-[10rem];
  }

  span {
    @apply mt-2;
  }
}
