@import "src/common/css/_variable.sass";
@import "app/template/set_r024/assets/css/_variable.sass";
@import "app/template/set_r024/assets/css/menu.sass";

.management-area {
  .manage-panel,
  .detail-panel,
  .bet-report-panel,
  .bet-record-query-panel {
    width: 100%;
    padding: 1.25rem;
    border-radius: 0.625rem;
    overflow: hidden;
    background: $secondary-card;
    color: $neutral-01;

    @include phone-width {
      padding: 0.625rem;
    }

    .manage-table,
    .detail-table,
    .bet-report-table,
    .bet-record-query-table {
      width: 100%;
      box-shadow: none;
      border-radius: 0;
      background: transparent;
    }

    :deep(.q-table__top) {
      padding: 0;
      color: $neutral-01;
    }

    .search-form {
      width: 100%;
      color: $neutral-01 !important;

      @include phone-width {
        margin-bottom: 1.25rem;
      }

      .search-form-row {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 1.25rem;

        @include phone-width {
          flex-direction: column;
          align-items: center;
          margin-bottom: 0;
        }

        .search-item {
          @apply flex items-center justify-center gap-2;
          margin-right: 1.25rem;
          font-size: 0.875rem;
          overflow: hidden;

          @include phone-width {
            width: 100%;
            margin-right: 0;
            margin-bottom: 1.25rem;
            flex-direction: column;
          }

          &.manage,
          &.bet-report,
          &.bet-record-report {
            margin-right: 2.25rem;

            @include phone-width {
              margin-right: 0;
            }
          }

          &.checkbox {
            @include phone-width {
              justify-content: flex-start;
              flex-direction: row;
              flex-wrap: wrap;
              gap: 1rem;
            }
          }

          .search-item-label {
            font-weight: 400;
            color: $neutral-01;

            @include phone-width {
              width: 100%;
              margin-bottom: 0.375rem;
              margin-right: 0;
            }

            &.manage,
            &.bet-report,
            &.bet-record-report {
              font-size: 1.25rem;
              font-weight: 600;
              margin-right: 1.25rem;

              @include phone-width {
                margin-right: 0;
                font-size: 0.875rem;
                font-weight: 400;
              }
            }
          }

          .search-item-input {
            color: $neutral-01;
            background: $functional-input;
            border: 1px solid $functional-line;
            overflow: hidden;

            @include phone-width {
              width: 100%;
            }

            &.account {
              width: 14.25rem;
              border-radius: 0.625rem;

              @include phone-width {
                width: 100%;
              }

              &.manage,
              &.bet-report,
              &.bet-record-report {
                width: 13.75rem;

                @include phone-width {
                  width: 100%;
                }
              }
            }

            &.type {
              min-width: 7.5rem;
              border-radius: 6.25rem;

              @include phone-width {
                width: 100%;
              }

              &.bet-report {
                border-radius: 0.625rem;
              }

              :deep(.q-field__append) {
                margin-right: 0.875rem;
              }
            }

            &.date {
              min-width: 20rem;
              background: $functional-input;
              border: 1px solid $functional-line;
              border-radius: 0.375rem;
              padding: 0.5rem 0.875rem;

              @include phone-width {
                @apply py-0 px-2;
              }

              :deep(.q-field__native) {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }

              :deep(.q-field__control) {
                height: 1.5rem;

                @include phone-width {
                  height: 2.25rem;
                }

                .q-field__native {
                  width: 100%;
                  height: 100%;
                  font-family: Songti TC;
                  padding: 0;

                  @include phone-width {
                    padding: 0.59375rem 0.5rem;
                  }

                  &::placeholder {
                    color: $neutral-02;
                  }
                }

                .q-field__append {
                  padding: 0;

                  @include phone-width {
                    padding: 0 0.5rem 0 0;
                  }
                }
              }
            }

            :deep(.q-field__control) {
              padding: 0;
              height: 2.4375rem;
              background: transparent;
              box-shadow: none;

              &::before {
                border: none;
              }

              .q-field__native {
                padding: 0.625rem 0.875rem;
                padding-right: 0;
                font-size: 0.875rem;
                color: $neutral-01;
              }

              .q-field__append {
                height: 100%;

                .q-icon {
                  color: $neutral-01;
                  width: 1.5rem;
                  height: 1.5rem;
                }
              }
            }
          }
        }

        .search-btn {
          background: $primary-01;
          border-radius: 6.25rem;
          padding: 0.625rem 1.25rem;
          color: $neutral-01;

          &.manage,
          &.bet-report,
          &.bet-record-report {
            font-size: 1.25rem;
            padding: 0.4375rem 2.6875rem;
            min-height: auto;
            line-height: normal;

            @include phone-width {
              font-size: 1rem;
              padding: 0.625rem 0;
            }
          }

          @include phone-width {
            width: 100%;
          }
        }
      }
    }

    .pagination {
      display: flex;
      justify-content: flex-end;
      margin-top: 1.25rem;
    }

    .custom-pagination {
      :deep(.q-btn) {
        color: $neutral-01 !important;

        &.q-btn--active,
        &.q-btn--focus,
        &[aria-current="true"] {
          background: $primary-01 !important;
          color: $neutral-01 !important;
        }

        &:hover:not(.q-btn--active):not(.q-btn--focus):not([aria-current="true"]) {
          background: rgba(255, 255, 255, 0.1) !important;
        }
      }

      :deep(.q-btn--flat) {
        color: $neutral-01 !important;

        &.q-btn--active,
        &.q-btn--focus,
        &[aria-current="true"] {
          background: $primary-01 !important;
          color: $neutral-01 !important;
        }
      }
    }
  }

  :deep(.q-table) {
    thead {
      color: $neutral-01;
    }

    tbody {
      color: $neutral-01;
    }

    th {
      font-size: 1.125rem;
      padding-top: 0.59375rem;
      padding-bottom: 0.59375rem;
      text-align: center;
    }

    td {
      font-size: 1rem;
      padding-top: 0.6875rem;
      padding-bottom: 0.6875rem;
      text-align: center;
    }

    .page-total,
    .search-result-total {
      color: $neutral-01;
      font-weight: 700;
    }
  }

  :deep(.q-table__bottom) {
    @apply flex justify-center items-center;
    color: $neutral-01;
  }

  .action-link {
    color: $primary-01;
  }

  // q-checkbox 樣式
  :deep(.q-checkbox) {
    .q-checkbox__inner {
      color: $neutral-01;

      .q-checkbox__bg {
        border: 1px solid $neutral-01;
        background: transparent;
      }

      &.q-checkbox__inner--active,
      &.q-checkbox__inner--truthy {
        .q-checkbox__bg {
          border-color: $primary-01;
          background: $primary-01;
        }

        .q-checkbox__svg {
          color: $neutral-01;
        }
      }
    }
  }

  .expansion-menu {
    font-size: 12px;
    font-weight: 400;
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
    color: $neutral-01;

    .expansion-item {
      border-radius: 0.625rem;
      overflow: hidden;
      margin-bottom: 1.25rem;
    }

    :deep(.q-item) {
      padding: 0.625rem 1rem;
    }

    :deep(.q-card) {
      background: $secondary-card-secondary;
    }

    .expansion-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: self-start;
      gap: 0.625rem;
      color: $neutral-01;

      &-top {
        width: 100%;
        display: flex;
        align-items: self-start;
        justify-content: space-between;
      }

      &-bottom {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .operating-btn {
          color: $primary-01;
          cursor: pointer;
        }
      }

      .expansion-header-item {
        width: 50%;
      }

      .text-gray {
        color: $neutral-01;
        margin-top: 0.375rem;
      }
    }

    .expansion-detail {
      width: 100%;
      background: $secondary-card-secondary;
      color: $neutral-01;
      border-radius: 0.25rem;
      font-size: 0.625rem;
      font-weight: 700;

      .expansion-detail-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem;
        border-top: 0.0625rem solid rgba(255, 255, 255, 0.2);

        &:first-child {
          border-top: none;
        }
      }
    }
  }
}
