@import "app/template/okbet_green/assets/css/_variable.sass";

.hide-hover {
  :deep(.q-focus-helper) {
    opacity: 0 !important;
    background-color: transparent !important;
  }
}

:deep(.bg-primary) {
  background: $primary-color !important;
}

:deep(.text-primary) {
  color: $primary-color !important;
}

:deep(.text-term) {
  color: $primary-color;
}

:deep(.q-date__header) {
  background-color: $primary-color !important;
}

:deep(.bg-submit) {
  background: $primary-color !important;
}

.btn-play {
  @apply capitalize z-20;
  padding: 0.5rem 1.875rem;
  background: $primary-color;
  color: #FAFAFA;
  border-radius: 2.375rem;
  font-family: OpenSans;
  font-style: normal;
  font-weight: 510;
  font-size: 0.875rem;
  line-height: 1.0625rem;

  :deep(.q-btn__content) {
    @apply whitespace-nowrap;
  }
}

@mixin btn-common {
  position: relative;
  font-family: "PingFang SC";
  font-style: normal;
  min-width: 5.375rem;
  color: #FAFAFA !important;
  background-color: $primary-color !important;
  height: 1.875rem;
  min-height: 1.875rem;
  text-transform: capitalize;
}

@keyframes reFreshAni {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.btn-refresh {
  &.active {
    animation: reFreshAni 1s linear infinite;
  }
}
