@import "src/common/css/_variable.sass";
@import "src/css/table.sass";
@import "src/css/form.sass";
@import "app/template/set_amuse/assets/css/menu.sass";
@import "app/template/set_amuse/assets/css/pagination.sass";

.management-area {
  .search-form {
    width: 100%;
    background: #000000;
    padding: 0.75rem;
    margin-bottom: 0.5rem;

    &.bet-record-query-report {
      display: grid;
      gap: 1rem;

      @include phone-width {
        gap: 0;
      }
    }

    @include phone-width {
      margin-bottom: 0.75rem;
    }

    .search-form-row {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;

      @include phone-width {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
      }

      .search-item {
        margin-right: 0.75rem;

        @include phone-width {
          width: 100%;
          margin-right: 0;
          margin-bottom: 1.3125rem;
        }

        .search-item-label {
          color: #ededed;
          font-weight: 400;
          font-size: 0.75rem;
          margin-bottom: 0.25rem;
        }

        .search-item-input {
          width: 13.25rem;
          color: #ededed;
          border-radius: 0.5rem;
          background-color: rgba(96, 96, 96, 0.24);
          border: 1px solid rgba(90, 90, 90, 0.6);

          @include phone-width {
            width: 100%;
          }

          &::placeholder {
            color: rgba(243, 243, 243, 0.6);
          }

          &.date {
            width: 21rem;

            @include phone-width {
              width: 100%;
            }
          }

          :deep(.q-field__control) {
            padding: 0;
            height: 2.75rem;

            .q-field__native {
              color: #ededed;
              padding: 0.75rem;
              font-size: 0.75rem;
            }

            .q-field__append {
              height: 100%;
              margin-right: 0.8125rem;

              .q-icon {
                color: #ededed;
                width: 1.25rem;
                height: 1.25rem;
              }
            }
          }
        }

        &.checkbox {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 0.875rem;
          font-weight: 400;
          color: white;
          gap: 0.5rem;

          @include phone-width {
            justify-content: flex-start;
          }

          :deep(.q-checkbox__inner) {
            .q-checkbox__bg {
              background: #FFFFFF;
              color: transparent;
            }

            &.q-checkbox__inner--truthy {
              .q-checkbox__bg {
                background: #FF6B00 !important;
                border-color: #FF6B00 !important;
              }
            }
          }

          .checkbox-item {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }

  .search-btn,
  .add-subordinate-btn,
  .back-btn {
    min-width: 5.5rem;
    height: 2.75rem;
    border: 1px solid #ec7d38;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;

    @include phone-width {
      width: 100%;
    }
  }

  .add-subordinate-btn,
  .back-btn {
    margin-bottom: 0.5rem;

    @include phone-width {
      width: fit-content !important;
      margin-bottom: 0.75rem;
    }
  }

  :deep(.q-table) {
    tbody {

      tr,
      td {
        border: 1px solid #e2b854;
        text-align: center;
      }
    }

    .page-total,
    .search-result-total {
      background-color: #101010;
      color: #EDEDED;
    }
  }

  :deep(.q-table__bottom) {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e2b854;
    background-color: #1c1e22;
    color: #ffffffb3;
  }

  .expansion-menu {
    font-size: 0.75rem;
    font-weight: 500;

    :deep(.q-item) {
      padding: 0.625rem 1rem !important;
      background: #414141 !important;
    }

    :deep(.q-card) {
      .q-card__section {
        padding: 0.5rem !important;
      }
    }

    .expansion-header {
      display: flex;
      justify-content: space-between;
      align-items: self-start;
      gap: 0.625rem;
      color: #ededed;

      &-top {
        width: 100%;
        display: flex;
      }

      &-bottom {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .operating-btn {
          color: #ed772e;
        }
      }

      .expansion-item {
        width: 50%;
        display: flex;
        align-items: self-start;
        justify-content: flex-start;
        flex-direction: column;

        .expansion-item-label {
          margin-bottom: 0.375rem;
        }
      }
    }

    .expansion-detail {
      background: #1f1f1f;
      color: #fff;
      border-radius: 0.25rem;
      padding: 0.75rem;
      font-size: 0.625rem;
      font-weight: 700;

      .expansion-detail-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding: 0.5rem;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  .increase-item {
    :deep(.q-field__label) {
      color: rgba(243, 243, 243, 0.6);
    }
  }
}